@charset "UTF-8";
/* 底部 */
footer {
    .info {
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #414040;
    }
}
.map-qq{
    i{
    position: relative;    
    top:3px;
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image: url(../images/home/map-qq.png);
     }
}
.map-erweima{
    width: 140px;
    height: 140px !important;
    display: inline-block;
    background-image: url(../images/home/map-erweima.png);
}
