body {
    background-color: #f7f7f7;
}

.banner {
    width: 100%;
    height: 660px;
}

.cnt {
    position: relative;
    z-index: 1;
    margin-top: -100px;
    padding: 82px 40px 100px;
    background-color: #fff;
}

h2 {
    font-size: 40px;
    text-align: center;
    color: #666;
    margin-bottom: 60px;
}

