@charset 'UTF-8';
@import 'sass/header';
@import 'sass/footer';
@import 'sass/share';
@import 'sass/secondary-base';
.banner {
    background: url(../images/banner/achievements/banner.png) no-repeat center;
}

.tab {
    text-align: center;
    span {
        font-size: 24px;
        display: inline-block;
        margin-left: 80px;
        color: #999;
        &:first-child {
            margin-left: 0;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .active {
        color: #070200;
        border-bottom: 2px solid #070200;
    }
}

.pro-list {
    margin-bottom: 29px;
    ul {
        margin: 0 -10px;
        li {
            float: left;
            width: 25%;
            height: 430px;
            transition: all .5s;
        }
    }
}

.project {
    overflow: hidden;
    height: 395px;
    margin: 0 10px;
    // border: 1px solid #eee;
    transition: all .3s;
    .project-img {
        display: block;
        overflow: hidden;
        width: 290px;
        height: 290px;
    }
    .project-info {
        position: relative;
        padding-top: 30px;
        padding-bottom: 20px;
        transition: all .5s;
        text-align: center;
        background-color: #fff;
        h2 {
            font-size: 18px;
            margin-bottom: 18px;
            color: #666;
        }
        p {
            font-size: 14px;
            color: #999;
        }
        a {
            line-height: 40px;
            display: block;
            width: 120px;
            height: 40px;
            margin: 20px auto 0;
            text-align: center;
            text-decoration: none;
            color: #999;
            border: 1px solid #999;
            border-radius: 20px;
            transition: all 1s;
            position: relative;
            top: 20px;
            opacity: 0;
            &:hover {
                transition: all .3s;
                color: #000;
                border-color: #eeff01;
                background-color: #eeff01;
            }
        }
    }
    &:hover {
        // cursor: pointer;
        box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .3);
        .project-info {
            margin-top: -50px;
            a {
                display: block;
                top: 0;
                opacity: 1;
            }
        }
        .project {
            transition: all .3s;
            // box-shadow: 0 3px 5px #999;
        }
    }
}

.page {
    width: 100%;
    text-align: center;
    font-size: 0;
    li {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 30px;
        text-align: center;
        line-height: 25px;
        font-size: 12px;
        margin-left: 10px;
        transition: all .3s;
        color: #666;
        cursor: pointer;
        &:hover,
        &.active {
            font-size: 14px;
            background-color: #eeff01;
            color: #070200;
        }
    }
}
