/* 重置 */

@import 'sass/reset';

/* 公共 */

body {
    font-family: 'Microsoft Yahei', '黑体', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #5f5f5f;
}

.clearfix {
    clear: both;
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.w1300 {
    width: 1300px;
    margin: 0 auto;
}

.bgc-jh {
    background-color: #eeff01;
}

.bgc-qq {
    background-color: #3299dc;
}

.bgc-tel {
    background-color: #fc3;
}

.bgc-wx {
    background-color: #58dd00;
}

.bgc-gray {
    background-color: #989d9b;
}

.col-333 {
    color: #333;
}

.col-666 {
    color: #666;
}

.col-999 {
    color: #999;
}


/* 公用边距及字体 */

@import 'sass/spacing';
@import 'sass/fontSize';
