@import 'sass/header';
@import 'sass/footer';
@import 'sass/share';
body {
    min-width: 1310px;
}


/* banner */

.banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: all .5s;
    background-color: #0c1914;
    .ban-top-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 204px;
        height: 221px;
        transition: all .5s;
    }
    .ban-top-2 {
        position: absolute;
        top: 0;
        left: 50%;
        width: 753px;
        height: 249px;
        background-repeat: no-repeat;
    }
    .ban-butt-1 {
        position: absolute;
        bottom: -40%;
        left: 10%;
        width: 542px;
        height: 542px;
        background-repeat: no-repeat;
    }
    .ban-butt-2 {
        position: absolute;
        right: 0;
        bottom: -10%;
        width: 240px;
        height: 485px;
        background-repeat: no-repeat;
    }
    .ban-text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1109px;
        height: 326px;
        margin: -163px 0 0 -554px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .red-png {
        position: absolute;
        right: 20%;
        bottom: 20%;
        display: block;
        width: 24px;
        height: 23px;
        animation: ban 2s ease-out;
        animation-iteration-count: infinite;
        background-image: url(../images/banner/index/red.png);
    }
    .blue-one-png {
        position: absolute;
        bottom: -26px;
        left: 38%;
        display: block;
        width: 82px;
        height: 44px;
        animation: ban 4s ease-out;
        animation-iteration-count: infinite;
        background-image: url(../images/banner/index/bule-one.png);
    }
    .blue-two-png {
        position: absolute;
        bottom: 30%;
        left: -10px;
        display: block;
        width: 89px;
        height: 79px;
        animation: ban 6s ease-out;
        animation-iteration-count: infinite;
        background-image: url(../images/banner/index/bule-two.png);
    }
    .green-png {
        position: absolute;
        top: 50%;
        right: 20%;
        display: block;
        width: 62px;
        height: 72px;
        animation: ban 5s ease-out;
        animation-iteration-count: infinite;
        background-image: url(../images/banner/index/green.png);
    }
    .yellow-png {
        position: absolute;
        top: 50%;
        left: 20%;
        display: block;
        width: 34px;
        height: 40px;
        animation: ban 3s ease-out;
        animation-iteration-count: infinite;
        background-image: url(../images/banner/index/yellow.png);
    }
    .banner-gif,
    .banner-gif2 {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all .2s ease-out;
    }
}

@keyframes ban {
    0% {
        transform: rotateY(0deg);
    }
    20% {
        transform: rotateY(60deg);
    }
    40% {
        transform: rotateY(120deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}


/* 主体 */

.cnt {
    width: 100%;
    padding-top: 80px;
    h2 {
        // border-bottom: 2px solid #eeff01;
        font-size: 40px;
        width: 160px;
        height: 60px;
        margin: 0 auto 100px;
        text-align: center;
    }
}


/* 服务 */

.cnt-service {
    ul {
        overflow: hidden;
        width: 100%;
        li {
            position: relative;
            float: left;
            width: 280px;
            top: 200px;
            // margin-top: 200px;
            margin-left: 60px;
            opacity: 0;
            &:first-child {
                margin-left: 0;
                transition: all 1.5s;
            }
            &:nth-child(2) {
                transition: all 1.8s;
            }
            &:nth-child(3) {
                transition: all 2s;
            }
            &:nth-child(4) {
                transition: all 2.2s;
            }
            & > span {
                display: inline-block;
                width: 280px;
                height: 240px;
                overflow: hidden;
                transition: all .5s;
            }
            & > h3 {
                font-size: 24px;
                margin: 60px 0 30px;
                transition: all .5s;
                text-align: center;
                color: #666;
            }
            & > p {
                font-size: 18px;
                line-height: 28px;
                padding: 0 10px;
                transition: all .5s;
                text-align: center;
                letter-spacing: 2px;
                color: #999;
            }
        }
    }
}


/* 成果 */

.cnt-projects {
    position: relative;
    height: 900px;
    padding-top: 0;
    background-color: #eee;
    h2 {
        position: absolute;
        z-index: 1;
        top: 80px;
        left: 50%;
        margin-left: -80px;
    }
    img {
        width: auto;
        margin: 0 auto;
    }
}

.projects-main {
    position: relative;
    li {
        position: relative;
        height: 900px;
        a {
            position: absolute;
            bottom: 0;
            width: 100%;
            p {
                font-size: 18px;
                line-height: 24px;
                position: relative;
                top: -70px;
                width: 1048px;
                margin: 0 auto;
                text-align: center;
                color: #5f5f5f;
            }
        }
    }
    .projects-list-1 {
        background: url(../images/img/index/bg-cg.png) no-repeat center;
    }
    .projects-list-2 {
        background: url(../images/img/index/bg-cg.png) no-repeat center;
    }
    .projects-list-3 {
        background: url(../images/img/index/bg-cg.png) no-repeat center;
    }
    .prev,
    .next {
        position: absolute;
        z-index: 3;
        top: 50%;
        display: block;
        width: 50px;
        height: 200px;
        margin-top: -100px;
        transition: all .3s;
        opacity: .3;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, .3);
        &:hover {
            opacity: 1;
            background-color: rgba(0, 0, 0, .1);
        }
    }
    .prev {
        left: 244px;
        background: url(../images/icons/index/left.png) no-repeat center;
    }
    .next {
        right: 244px;
        background: url(../images/icons/index/right.png) no-repeat center;
    }
}


/* 合作伙伴 */
.cnt-partner{
    height: 640px;
    img{
        display: none;
    }
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.partner {
    -webkit-animation-name: partner;
    animation-name: partner;
}

@-webkit-keyframes partner {
    0% {
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes partner {
    0% {
        -webkit-transform: scale3d(.3, .3, .3);
        -ms-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
